@import "tailwindcss";

html, body {
  font-family: Poppins, sans-serif;


}

html, body {
  overflow: hidden;
}

.result-div {
  max-height: 70vh;
}

.result-div::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff,#ffffff,#9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;

}

@keyframes loader {
  0% {
    background-position: -800px 0px;

  }
  100% {
    background-position: 800px 0px;
  }
}

@media (max-width: 578px) {
  .result-div {
    margin-top: 120px;
  }
}

/* @media (max-width: 500px) {
  .sidebar-div {
    opacity: 0 !important;
  }
}

@media (max-width: 500px) {
  .header {
    left: 0px !important;
  }
}
@media (max-width: 500px) {
  .main {
    padding-left: 0px;
  }
} */

.tooltip {
  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  color: white;
  font-size: 11px;
  bottom: -52px;
  text-align: center;
  margin-left: 0px;
  padding: 10px 6px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.menu-section button:hover .tooltip {
  opacity: 1;
}